@model List<Proyectofloresapi.Models.prueba>
@{
    ViewBag.Title = "Lista Produccion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>


<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>medida</th>
                @*<th>x</th>
        <th>frecuencia </th>
        <th>frecuencia a</th>
        <th>xf </th>*@
            </tr>
            @foreach (double vec in ViewBag.vector)
            {
                <li>
                    @vec
                </li>
            }
            
        </table>
    </div>

</div>