@{

}

@Styles.Render("~/Content/index.css")

<div>
    <br />
</div>

<div class="jumbotron" style="background-color:#F54335">
    <h1>@Recursos.Recurso.Home_Titulo</h1>

    <p class="lead">@Recursos.Recurso.Home_parrafo1</p>
    <p class="lead">
        @Recursos.Recurso.Home_parrafo
    </p>
  
            <div >
                <img src="~/Img/01.jpg" class="d-block w-100" alt="..." width="920" height="620">

            </div>
    </div>



