@{
    ViewBag.Title = "Lista Analisis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="row table-bordered">
    <div class="col-md-12">

        <div class="col-md-2 table-bordered">
            <label>Datos</label>
            <br />
            @foreach (double vec in ViewBag.vector)
            {

                @vec
                <br />
            }
        </div>

        <div class="col-md-2 table-bordered">
            <label>Marca de clase</label>
            <br />
            @foreach (double marcaclase in ViewBag.marca_clase)
            {

                @marcaclase
                <br />

            }
        </div>

        <div class="col-md-2 table-bordered">
            <label>Frecuencia absoluta</label>
            <br />
            @foreach (double fabsol in ViewBag.fabsoluta)
            {
                @fabsol
                <br />
            }
        </div>

        <div class="col-md-2 table-bordered">
            <label>Frecuencia absoluta</label>
            <br />
            @foreach (double fabsol in ViewBag.fabsoluta)
            {

                @fabsol
                <br />
            }
        </div>

        <div class="col-md-2 table-bordered">
            <label>Frecuencia relativa</label>
            <br />
            @foreach (double frela in ViewBag.frelativa)
            {
                @frela
                <br />
            }
        </div>

        @*<label>Media</label>
            @foreach (double medi in ViewBag.mediana)
            {
                <li>
                    @medi
                </li>
            }*@

    </div>

    <div>
        <label>Moda</label>
        <br />
        <label>@ViewBag.moda</label>
    </div>

</div>